body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.top-header {
    z-index: 999;
    position: relative;
    color: #fff;
}

.header {
    background-color: #007bff;
    padding: 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.nav {
    padding: 60px;
}

a.nav-link {
    color: black !important;
    font-weight: 600 !important;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.nav-link:hover {
    color: #007bff !important;
}

.bg-body-tertiary {
    background-color: none !important;
}

.btn-primary {
    background-color: #007bff !important;
}

.card {
    border: none !important;
}