body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

button {
    font-size: 1rem !important;
}

.body-container {
    margin: 30px;
    flex: 1;
}

.flex {
    flex: 1;
}

.text-center {
    margin-top: 50px;
}

.linky {
    margin-bottom: 50px;
}

.w100 {
    width: 60%;
}

.mascot-container,
.youtube-container,
.video-containter {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
}

    .mascot-container:hover {
        transform: translateY(-4px);
        cursor: pointer;
    }

iframe:hover {
    transform: translateY(-4px);
}

.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.top-header {
    z-index: 999;
    color: #fff;
}

.header {
    background-image: url("../../assets/images/poolbg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.navbar {
    padding: 30px;
    background: none !important;
}

.navbar-toggler {
    background-color: #fff;
}

a.nav-link {
    color: #fff !important;
    font-weight: 600 !important;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.nav-link:hover {
    color: black !important;
}

.bg-body-tertiary {
    background-color: none !important;
}

.btn-primary {
    background-color: deepskyblue !important;
    border-color: deepskyblue;
}

    .btn-primary:hover {
        border-color: deepskyblue;
        transform: translateY(-4px);
    }

.card {
    border: none !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}

.cardjs {
    width: 70%;
    padding: 15px;
}

.card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.card-body {
    text-align: center;
}

.card-title {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: deepskyblue;
}

.card-text {
}

.reviews {
    padding-left: 23%;
}

.text-warning {
    text-align: center;
}

.d-flex {
    display: block !important;
}

.footer {
    background-color: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media (max-width: 700px) {
    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    iframe {
        width: 100% !important;
    }
}
